# numpy==1.26.4
numpy==1.23.1
Pillow
huggingface_hub
einops
safetensors
plyfile
setuptools
wheel
ninja
rerun-sdk==0.17.0
imageio
trimesh
opencv-python==4.11.0.86
hydra-core
h5py
pdbpp
lightning
easydict
loguru
pymeshlab
ipython
open3d
chumpy
pymcubes
nerfacc==0.3.3
torch_efficient_distloss
tensorboard